body {
  font-family: "Inter", sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.dfont {
  font-style: normal;
  font-weight: 300;
}
.expand-enter-active,
.expand-leave-active {
  transition: all 1s ease-in-out;
  max-height: 324px;
  overflow: hidden;
}
.expand-enter-from,
.expand-leave-to {
  max-height: 0px;
}
.alergias-content {
  overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 750ms ease-in-out;
  opacity: 100%;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0%;
}
