/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background-color: white;
  border-radius: 0.5rem;
  border-color: #1264a8;
}

.btn {
  background-color: #1264a8;
  border-radius: 15px;
}

.border {
  border-width: 1px;
}

.custom-margin {
  margin-left: 124px;
}

.dfont {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
}
