/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background-color: white;
  border-radius: 0.5rem;
  border-color: #1264a8;
}

.btn {
  background-color: #1264a8;
  border-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.custom-margin {
  margin-left: 124px;
}
